*
    margin 0
    padding 0
    box-sizing border-box


ul
    list-style none
    margin 0
    padding 0

.navbar

    display flex
    justify-content space-between
    align-items center
    background-color white
    color black
    padding 20px
    img
        max-width 61.5%
        border-radius 10px

.container1
	text-align center
	border 1px solid #f8f7f7
	background #f8f7f7

.box
	
    padding 1%
    text-align center
    margin-right 10px
    margin-left 10px
    display inline-block
    h3
        font-size 20px
        margin-bottom 10px
    p
        font-size 16px


	
.navbarlist
    display flex
    margin auto
    font-size 30px

.supercontainer
    display flex
    padding 20px
    margin-left 10%
    margin-right 10%
    margin-bottom 2%
    font-size 20px


.navbarlistitem
    width 100%
    white-space nowrap
    a
        color black
        text-decoration none
        padding 10px
        border-radius 5px
        &.active
            background-color white
            color #333

.banner
    background-image url(https://wp-s.ru/wallpapers/9/8/531206809170097/cvety-na-zakate-v-gornyx-lugax.jpg)
    background-size cover
    background-position center
    height 600px
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center
    color #fff

    h1
        font-size 4rem
        margin-bottom 20px
        text-shadow: 1px 1px black;
    p
        font-size 1.5rem
        margin-bottom 40px
        text-shadow: 1px 1px black;

.btn
    display inline-block
    background-color #fff
    color #333
    font-size 1.2rem
    padding 10px 20px
    border none
    border-radius 25px
    text-decoration none
    transition all 0.3s ease
    &:hover
        background-color #333
        color #fff

.products
	justify-content center
	display flex
	white-space nowrap
    padding 600px 0
    margin 10px
    background-color #f9f9f9


h2
    font-family 'Roboto', sans-serif
    font-size 2.5rem
    text-align center
    margin-bottom 40px

h3
    font-size 1.5rem
    margin-bottom 10px

.product-item
    margin 20px
    text-align center
    img
        max-width 100%
        border-radius 10px

.price
    font-size 1.3rem
    font-weight bold
    margin-top 10px

.about-us
    padding 60px 0
    text-align center
    p
        font-size 1.2rem
        margin-bottom 40px

.contact-us
    padding 60px 0
    background-color #f9f9f9
    ul
        list-style none
        text-align center
        font-size 1.2rem
        li
            margin-bottom 10px

footer
    background-color #333
    color #fff
    text-align center
    padding 20px

.product-image
    flex 1 1 10%
    margin-right 20px
    margin-left 20%
    img
        max-width 500px
        height auto

.product-image1
    img
        max-width 61.5%
        border-radius 10px

.product-info
    flex 1 1 300px
    display flex
    flex-direction column
    align-items flex-start
    margin-right 20px
    margin-bottom 20px
    h1
        font-size 24px
        margin 0
        margin-bottom 10px
    p
        font-size 16px
        margin 0
        margin-bottom 10px
    label
        display block
        font-size 16px
        margin-bottom 10px
    select
        font-size 16px
        padding 5px 10px
        margin-bottom 10px
    button
        font-size 16px
        padding 10px 20px
        background-color #009688
        color #fff
        border none
        cursor pointer

@media screen and (max-width: 840px)
    .products
        flex-direction column
    .navbar
    	img
        	max-width 50%
        	border-radius 10px
    .navbarlist
        flex-direction column
    .navbarlistitem
    	width 100%

section {
        padding: 20px;
      }
      
      article {
        margin-bottom: 20px;
        padding: 20px;
        background-color: grey;
        border-radius: 10px;
        box-shadow: 2px 2px #C0C0C0;
      }
.containermain
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    margin 20px